name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: go mod vendor

    - name: Build
      run: make build

    - name: Deploy
      env:
        SECRET: ${{ secrets.SECRET }}
        TEST_STAND: ${{ secrets.TEST_STAND }}
        ID_RSA: ${{ secrets.ID_RSA_QVM_DEPLOYER }}
        SSH_PORT: ${{ secrets.SSH_PORT }}
        DIR_DEPLOY: "/home/sah4ez/"
      run: |
        eval $(shh-agent -s)
        echo "${ID_RSA}" | tr -d "\r" | ssh-add - > /dev/null
        scp -P ${SSH_PORT} ./bin/qvm sah4ez@${TEST_STAND}:${DIR_DEPLOY}
