name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: go mod vendor

    - name: Build
      run: make build

    - name: Deploy
      env:
        SECRET: ${{ secrets.SECRET }}
        TEST_STAND: ${{ secrets.TEST_STAND }}
        ID_RSA: ${{ secrets.ID_RSA_QVM_DEPLOYER }}
        SSH_PORT: ${{ secrets.SSH_PORT }}
        DIR_DEPLOY: "/home/sah4ez/"
      run: |
        mkdir .ssh
        echo "${ID_RSA}" > .ssh/id_rsa
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > .ssh/config
        scp -i .ssh/id_rsa -F .ssh/config -P ${SSH_PORT} ./bin/qvm sah4ez@${TEST_STAND}:${DIR_DEPLOY}
